.container {
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
 width: 100%;
 justify-content: center;
 align-items: center;
 /* padding: 45px 0 30px 0; */
 /* position: absolute; */
 /* content: ""; */
 /* width: 50px; */
 /* height: 5px; */
 /* left: calc(50% - 25px); */
 /* background: #353535; */
}

.section-title h1 {
 color: #353535;
 font-size: 50px;
 letter-spacing: 5px;
 margin-bottom: 5px;
}

.section-title {
 width: 100%;
 text-align: center;
 padding: 45px 0 30px 0;
}

.section-title::after {
 position: absolute;
 content: "";
 width: 50px;
 height: 5px;
 left: calc(50% - 25px);
 background: #353535;
}

.button {
 white-space: nowrap;
 display: inline-block;
 height: 40px;
 line-height: 40px;
 padding: 0 14px;
 box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
 text-decoration: none;
 background: #1c3ed3;;
 border-radius: 4px;
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 0.025em;
 color: #fff;
 -webkit-transition: all 0.15s ease;
 transition: all 0.15s ease;
}
button:hover {
  color: #fff;
  background-color: lighten(#1c3ed3, 10%);
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

